server:
  port: 8084
spring:
  application:
    name: spring-batch-mssql-csv

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=batchdemo;encrypt=true;trustServerCertificate=true
    username: appuser
    password: appuser
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    hikari:
      pool-name: HikariBatchPool
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 60000
      connection-timeout: 30000
      max-lifetime: 1800000

  batch:
    job:
      enabled: false # don't run any job at startup; we'll trigger via REST
    jdbc:
      initialize-schema: always
      platform: sqlserver
      table-prefix: dbo.BATCH_

  sql:
    init:
      mode: always
      schema-locations: classpath:schema-person.sql

file:
  upload:
    dir: ${USERPROFILE}/uploads/batch-csv # change if needed; Windows-friendly
  output:
    dir: ${USERPROFILE}/uploads/batch-output # where we write the comparison CSV

batch:
  chunk-size: 1000
  concurrency:
    enabled: true
    threads: 4
  rest:
    base-url: http://localhost:8085/api/persons
    page-size: 500
